* {
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
